# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# Microsoft Office Temporary Lock Files
~$*.pptx
~$*.docx
~$*.xlsx

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log Files
*.tmp
*.log
